{% extends "base.html.twig" %}

{% block title %}La Page Que Tu Demande N'existe Pas/Ou Plus
{% endblock %}


{% block content %}
	<section id="block-container">
		<div
			id="error404">

			{# <div class="image"><img src="asset/img/Chuck_Norris.png" alt="chuck norris"> </div> #}

			<div class="message">
				<h1>Désolé !</h1>
				<p>La page que vous cherchez a été volée par Chuck Norris et je n'ose pas lui demander de nous la rendre ...</p>
				<a href="/" class="btn btn-primary">Retour à l'accueil</a>
			</div>

		</div>
	</section>
{% endblock %}
