{% extends "base.html.twig" %}

{% block title %}La Page Que Tu Demande N'existe Pas/Ou Plus
{% endblock %}


{% block content %}
	<section id="block-container">
		<div id="block-commands">
			<h1>Commandes de la chaîne</h1>
			<div class="line"></div>
			<p>Voici la liste des commandes de la chaîne twitch, attention certaines commandes coûtent des Mcoins
								                    (monnaie virtuel du stream) vous pourrez retrouver les commandes les plus funs
								                    et original de ma chaine twitch ici ! Profiter bien. 😁</p>
			<!-- Table commandes -->

			<table id="table-commande">
				<tr>
					<th colspan="3">CATEGORIE COMMANDES</th>
				</tr>
				<tr class="table-commande-header">
					<td>
						Commande
					</td>
					<td>
						Resultat
					</td>
					<td>
						Coût
					</td>
				</tr>

				<tr class="table-commande-content">
					<td>!test</td>
					<td class="text-center">ceci est un test de commande
												                            cool qui tue et qui
												                            est super genial oulalal un truc de ouff.</td>
					<td class="text-center">0</td>
				</tr>

				<tr class="table-commande-content">
					<td>!test</td>
					<td class="text-center">ceci est un test de commande
												                            cool qui tue et qui
												                            est super genial oulalal un truc de ouff.</td>
					<td class="text-center">0</td>
				</tr>

			</table>
		</div>
	</section>
{% endblock %}
