{% extends "base.html.twig" %}

{% block title %}Paye moi un grec ou un café même-ci je préfére le chocolat
{% endblock %}


{% block content %}
	<section id="block-container">
		<div id="block-donnation">
			<h1>{{donation.title}}</h1>
			<div class="line"></div>
			{{donation.content|raw}}

			<div id="block-donation-button">
				<a href="{{donation.linkdonationpaypal}}" class="btn btn-primary" target="_blank">
					<i class="fab fa-paypal"></i>
					Donation via Paypal</a>
				<a href="{{donation.linkdonationstreamlab}}" class="btn btn-primary" target="_blank">
					<i class="fab fa-twitch"></i>
					Donation via Streamlab</a>
			</div>
		</div>

	</section>
{% endblock %}
