{% extends "base.html.twig" %}

{% block title %}Mon Extension
{% endblock %}


{% block content %}
	<section id="block-container">
		<div id="block-extention">
			<h1>{{extension.title}}</h1>
			<div class="line"></div>
			<p class="content">
				{{extension.content|raw}}
			</p>
			<!-- Button Download Extension -->
			<div id="download-extention">

				<div class="btn-with-info">
					<a href="{{extension.linkextensionfirefox}}" target="_blank">
						<div class="icon">
							<i class="fab fa-firefox-browser"></i>
						</div>
						<div class="text">
							<h3>FireFox</h3>
							<p>Extension pour firefox !</p>
						</div>
					</a>
				</div>

				<div class="btn-with-info">
					<a href="{{extension.linkextensionchrome}}" target="_blank">
						<div class="icon">
							<i class="fab fa-chrome"></i>
						</div>
						<div class="text">
							<h3>Chrome</h3>
							<p>Extension pour firefox !</p>
						</div>
					</a>
				</div>

			</div>
		</div>
	</section>
{% endblock %}
