{% extends "base.html.twig" %}

{% block title %}La Page Que Tu Demande N'existe Pas/Ou Plus
{% endblock %}
{% block header_javascript %}
	<script type="text/javascript">
		var onloadCallback = function () {
grecaptcha.render('g-recaptcha', {'sitekey': '{{ constant('_GOOGLEAPI') }}'});
};
	</script>

{% endblock %}

{% block content %}
	<section id="block-container" style="max-width: 450px">
		<h1>Login Administration</h1>
		<form action="#" method="post" class="form-control">
			<label for="email">Votre Email</label>
			<input type="text" name="email" id="email">
			<label for="password">Votre Password</label>
			<input type="password" name="password" id="password">
			<center>
				<div id="g-recaptcha"></div>
			</center>
			<input type="submit" value="Login" class="btn btn-primary">
		</form>

	</section>
	{% if get.error == 1 %}
		<p style="color:red" class="text-center">
			Une erreur est survenu</p>
	{% endif %}
{% endblock %}
{% block javascript %}
	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
{% endblock %}
