{% extends "base.html.twig" %}

{% block title %}La Page Que Tu Demande N'existe Pas/Ou Plus
{% endblock %}


{% block content %}
	<section id="block-container" style="max-width: 450px">
		<h1>Login Administration</h1>
		<form action="#" method="post" class="form-control">
			<label for="email">Votre Email</label>
			<input type="text" name="email" id="email">
			<label for="password">Votre Password</label>
			<input type="password" name="password" id="password">
			<center>
				<div class="g-recaptcha" data-sitekey="{{ constant('_GOOGLEAPI') }}"></div>
			</center>
			<input type="submit" value="Login" class="btn btn-primary">
		</form>
	</section>
{% endblock %}
{% block javascript %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
