<!DOCTYPE html>
<html lang="en">

	<head>
		<title>ProStream Dashboard |
			{% block title %}{% endblock %}
		</title>
		<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 10]>
																																																																																																																																																																																																																																																																																																																																																																																																																				      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
																																																																																																																																																																																																																																																																																																																																																																																																																				      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
																																																																																																																																																																																																																																																																																																																																																																																																																				      <![endif]-->
		<!-- Meta -->
		<meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<meta name="description" content="{{ constant('_DESCRIPTION') }}">
		<meta
		name="author" content="prostream"/>
		<!-- Favicon icon -->
		<link
		rel="shortcut icon" href="{{ constant('_LOGO') }}" type="image/x-icon">
		<!-- Google font-->
		<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
		<!-- waves.css -->
		<link
		rel="stylesheet" href="/asset/dashboard/pages/waves/css/waves.min.css" type="text/css" media="all">
		<!-- Required Fremwork -->
		<link
		rel="stylesheet" type="text/css" href="/asset/dashboard/css/bootstrap/css/bootstrap.min.css">
		<!-- waves.css -->
		<link
		rel="stylesheet" href="/asset/dashboard/pages/waves/css/waves.min.css" type="text/css" media="all">
		<!-- themify icon -->
		<link
		rel="stylesheet" type="text/css" href="/asset/dashboard/icon/themify-icons/themify-icons.css">
		<!-- font-awesome-n -->
		<link rel="stylesheet" type="text/css" href="/asset/dashboard/css/font-awesome-n.min.css">
		<link
		rel="stylesheet" type="text/css" href="/asset/dashboard/css/font-awesome.min.css">
		<!-- scrollbar.css -->
		<link
		rel="stylesheet" type="text/css" href="/asset/dashboard/css/jquery.mCustomScrollbar.css">
		<!-- Style.css -->
		<link rel="stylesheet" type="text/css" href="/asset/dashboard/css/style.css">
	</head>

	<body>
		<!-- Pre-loader start -->
		<div class="theme-loader">
			<div class="loader-track">
				<div class="preloader-wrapper">
					<div class="spinner-layer spinner-blue">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
					<div class="spinner-layer spinner-red">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-yellow">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>

					<div class="spinner-layer spinner-green">
						<div class="circle-clipper left">
							<div class="circle"></div>
						</div>
						<div class="gap-patch">
							<div class="circle"></div>
						</div>
						<div class="circle-clipper right">
							<div class="circle"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Pre-loader end -->
		<div id="pcoded" class="pcoded">
			<div class="pcoded-overlay-box"></div>
			<div class="pcoded-container navbar-wrapper">
				<nav class="navbar header-navbar pcoded-header">
					<div class="navbar-wrapper">
						<div class="navbar-logo">
							<a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#">
								<i class="ti-menu"></i>
							</a>
							<div class="mobile-search waves-effect waves-light">
								<div class="header-search">
									<div class="main-search morphsearch-search">
										<div class="input-group">
											<span class="input-group-prepend search-close">
												<i class="ti-close input-group-text"></i>
											</span>
											<input type="text" class="form-control" placeholder="Enter Keyword">
											<span class="input-group-append search-btn">
												<i class="ti-search input-group-text"></i>
											</span>
										</div>
									</div>
								</div>
							</div>
							<a href="index.html">
								<img class="img-fluid" src="/asset/dashboard/images/logo.png" alt="Theme-Logo"/>
							</a>
							<a class="mobile-options waves-effect waves-light">
								<i class="ti-more"></i>
							</a>
						</div>
						<div class="navbar-container container-fluid">
							<ul class="nav-left">
								<li>
									<div class="sidebar_toggle">
										<a href="javascript:void(0)">
											<i class="ti-menu"></i>
										</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</nav>

				<div class="pcoded-main-container">
					<div class="pcoded-wrapper">
						<nav class="pcoded-navbar">
							<div class="sidebar_toggle">
								<a href="#">
									<i class="icon-close icons"></i>
								</a>
							</div>
							<div class="pcoded-inner-navbar main-menu">
								<div class="">
									<div class="main-menu-header">
										<img class="img-80 img-radius" src="{{ session.avatar }}" alt="User-Profile-Image">
										<div class="user-details">
											<span id="more-details">{{ session.email }}<i class="fa fa-caret-down"></i>
											</span>
										</div>
									</div>
									<div class="main-menu-content">
										<ul>
											<li class="more-details">
												<a href="user-profile.html">
													<i class="ti-user"></i>Voir Profil</a>
												<a href="/deconnexion">
													<i class="ti-layout-sidebar-left"></i>Deconnexion</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="p-15 p-b-0">
									<form class="form-material">
										<div class="form-group form-primary">
											<input type="text" name="footer-email" class="form-control">
											<span class="form-bar"></span>
											<label class="float-label">
												<i class="fa fa-search m-r-10"></i>Rechercher Utilisateurs</label>
										</div>
									</form>
								</div>
								<div class="pcoded-navigation-label">Navigation</div>
								<ul class="pcoded-item pcoded-left-item">
									<li>
										<a href="/admin" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-home"></i>
												<b>D</b>
											</span>
											<span class="pcoded-mtext">Dashboard</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
									<li>
										<a href="/" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-home"></i>
												<b>D</b>
											</span>
											<span class="pcoded-mtext">Home Page</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
								</ul>
								<div class="pcoded-navigation-label">General</div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="">
										<a href="/admin/general" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layers"></i>
												<b>FC</b>
											</span>
											<span class="pcoded-mtext">General</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
									<li class="">
										<a href="/admin/social-link" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layers"></i>
												<b>FC</b>
											</span>
											<span class="pcoded-mtext">Reseaux sociaux</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>

								</ul>
								<div class="pcoded-navigation-label">Moduls</div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Live</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/live" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gestion de la page</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
											<li class="">
												<a href="/admin/twitch-api" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Twitch API</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Projets/Bio</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/page" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gestion de la page</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Extension</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/extension" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gestion de la page</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Commandes</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/commandes" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gerer les commandes</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
											<li class="">
												<a href="/admin/commandes/categorie" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gerer les categories</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Donation</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/donation" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Gestion de la page</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<ul class="pcoded-item pcoded-left-item">
									<li class="pcoded-hasmenu">
										<a href="javascript:void(0)" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-layout-grid2-alt"></i>
												<b>BC</b>
											</span>
											<span class="pcoded-mtext">Calendrier</span>
											<span class="pcoded-mcaret"></span>
										</a>
										<ul class="pcoded-submenu">
											<li class="">
												<a href="/admin/calendrier" class="waves-effect waves-dark">
													<span class="pcoded-micon">
														<i class="ti-angle-right"></i>
													</span>
													<span class="pcoded-mtext">Creer un evenement</span>
													<span class="pcoded-mcaret"></span>
												</a>
											</li>
										</ul>
									</li>
								</ul>
								<div class="pcoded-navigation-label">Utilisateurs</div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="">
										<a href="/admin/utilisateur" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-receipt"></i>
												<b>B</b>
											</span>
											<span class="pcoded-mtext">Liste des utilisateurs</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
								</ul>
								<div class="pcoded-navigation-label">Gaming</div>
								<ul class="pcoded-item pcoded-left-item">
									<li class="">
										<a href="#" class="waves-effect waves-dark">
											<span class="pcoded-micon">
												<i class="ti-receipt"></i>
												<b>B</b>
											</span>
											<span class="pcoded-mtext">comming soon</span>
											<span class="pcoded-mcaret"></span>
										</a>
									</li>
								</ul>
								<br>
							</div>
						</nav>
						<div class="pcoded-content">
							<div class="pcoded-inner-content">
								<div class="main-body">
									<div
										class="page-wrapper">
										<!-- Page body start -->
										<div class="page-body button-page">
											<div class="row">
												<div class="col-sm-12"> {% block content %}{% endblock %}


													</div>
													<!-- Bootstrap modal end -->
												</div>
											</div>
											<!-- Page body end -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<!-- Required Jquery -->
				<script type="text/javascript" src="/asset/dashboard/js/jquery/jquery.min.js "></script>
				<script type="text/javascript" src="/asset/dashboard/js/jquery-ui/jquery-ui.min.js "></script>
				<script type="text/javascript" src="/asset/dashboard/js/popper.js/popper.min.js"></script>
				<script type="text/javascript" src="/asset/dashboard/js/bootstrap/js/bootstrap.min.js "></script>
				<!-- waves js -->
				<script src="/asset/dashboard/pages/waves/js/waves.min.js"></script>
				<!-- jquery slimscroll js -->
				<script type="text/javascript" src="/asset/dashboard/js/jquery-slimscroll/jquery.slimscroll.js"></script>

				<!-- slimscroll js -->
				<script src="/asset/dashboard/js/jquery.mCustomScrollbar.concat.min.js "></script>

				<!-- menu js -->
				<script src="/asset/dashboard/js/pcoded.min.js"></script>
				<script src="/asset/dashboard/js/vertical/vertical-layout.min.js "></script>

				<script type="text/javascript" src="/asset/dashboard/js/script.js "></script>

				{% block javascript %}{% endblock %}
			</body>
		</body>
	</html>
