{% extends "base.html.twig" %}

{% block title %}Ajouter un evenement
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Gestion des evenement du calendrier</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<form action="#" method="post" style="min-width: 400px;" enctype="multipart/form-data">

						<div class="form-group form-default form-static-label">
							<label for="day">
								Jour du stream</label>
							<select name="select" class="form-control fill">
								<option value="3">Lundi</option>
								<option value="4">Mardi</option>
								<option value="5">Mercredi</option>
								<option value="6">Jeudi</option>
								<option value="7">Vendredi</option>
								<option value="8">Samedi</option>
								<option value="9">Dimanche</option>
							</select>
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="start">
								Heure de debut</label>
							<input type="time" name="start" class="form-control">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="end">
								Heure de fin</label>
							<input type="time" name="end" class="form-control">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="title">
								Titre du live</label>
							<input type="text" name="title" class="form-control" placeholder="Votre titre">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="logo">
								Image de evenement</label>
							<input type="file" name="logo" class="form-control" placeholder="Enter User Name">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="fullday">
								toute la journée ??</label>
							<select name="fullday" class="form-control fill">
								<option value="0">Non</option>
								<option value="1">Oui</option>
							</select>
							<span class="form-bar"></span>
						</div>

						<div class="form-group form-default form-static-label">
							<label for="fullday">
								Activé ??</label>
							<select name="fullday" class="form-control fill">
								<option value="1">Oui</option>
								<option value="0">Non</option>
							</select>
							<span class="form-bar"></span>
						</div>

						<button class="btn waves-effect waves-light btn-primary btn-outline-primary">
							Ajouter cette evenement</button>
					</form>

				</div>


			</div>
		</div>
	</div>


{% endblock %}
