{% extends "base.html.twig" %}

{% block title %}Gestion Des Categories
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Categories des Commandes</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<div class="card">
						<div class="card-header">
							<h5>Gerer les categories</h5>
							<span>cette page liste les categories de vos commandes de stream vous pouvez en rajouter ou en supprimer.</span>
							<div class="card-header-right">
								<ul class="list-unstyled card-option">
									<li>
										<i class="fa fa fa-wrench open-card-option"></i>
									</li>
									<li>
										<i class="fa fa-window-maximize full-card"></i>
									</li>
								</ul>
							</div>
						</div>
						<div class="card-block table-border-style">
							<div class="table-responsive">
								<table class="table table-inverse">
									<thead>
										<tr>
											<th>#</th>
											<th>nom</th>
											<th>options</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>fun</td>
											<td>
												<button class="btn btn-success">
													<i class="fas fa-edit"></i>
												</button>
												<button class="btn btn-danger">
													<i class="fas fa-trash-alt"></i>
												</button>
											</td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>


					<a href="/admin/commandes/categorie/add">
						<button class="btn btn-success waves-effect waves-light">Ajouter une categorie</button>
					</a>
				</div>


			</div>
		</div>
	</div>


{% endblock %}
