{% extends "base.html.twig" %}

{% block title %}Gestion des lien page live
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Gestion des lien page live</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<form action="#" method="post" style="min-width: 400px;">

						<div class="form-group form-default form-static-label">
							<label for="link-subcribe">
								lien d'abonnement</label>
							<input type="text" name="link-subcribe" class="form-control" placeholder="https://">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="link-bits">
								lien bits et badge</label>
							<input type="text" name="link-bits" class="form-control" placeholder="https://">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="link-replay">
								lien replay des lives</label>
							<input type="text" name="link-replay" class="form-control" placeholder="https://">
							<span class="form-bar"></span>
						</div>
						<div class="form-group form-default form-static-label">
							<label for="link-shop">
								lien boutique</label>
							<input type="text" name="link-shop" class="form-control" placeholder="https://">
							<span class="form-bar"></span>
						</div>

						<button class="btn waves-effect waves-light btn-primary btn-outline-primary">
							Enregistrer</button>
					</form>

				</div>


			</div>
		</div>
	</div>


{% endblock %}
