{% extends "base.html.twig" %}

{% block title %}Gestion twitch Api
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Gestion twitch Api</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<form action="#" method="post" style="min-width: 400px;">

						<div class="form-group form-default form-static-label">
							<label for="twitch-name">
								Nom chaine twitch</label>
							<input type="text" name="twitch-name" class="form-control" placeholder="lestplaymatsu">
							<span class="form-bar"></span>
						</div>

						<button class="btn waves-effect waves-light btn-primary btn-outline-primary">
							Enregistrer</button>
					</form>

				</div>

			</div>
		</div>

	</div>


</div>{% endblock %}
