{% extends "base.html.twig" %}

{% block title %}Gestion des lien page live
{% endblock %}


{% block content %}

	<div class="card">
		<div class="card-header">
			<h5>Gestion des lien page live</h5>
		</div>
		<div class="card-block">
			<div class="row">

				<div class="col-sm-12">

					<form action="#" method="POST">
						<label for="name">Label de l'icon</label>
						<input type="text" name="name" id="name">
						<label for="icon">Icon FontAwesome</label>
						<input type="text" name="icon" id="icon">
						<label for="link">Label de l'icon</label>
						<input type="text" name="link" id="link">
					</form>

				</div>

			</div>
		</div>
	</div>


{% endblock %}
